{% extends "base.html" %}
{% load static %}

{% block extra_title%} Zing gym {% endblock %}

{% block content %}
<div class="container-fluid home-page">
    <div class="row">
        <div class="col-12 col-lg-7 my-auto">
            <h1>
                Make fitness a part of who you are
            </h1>
            <p>Making fitness a part of who you are is a transformative journey that extends far beyond the confines of a mere hobby or a temporary endeavor.</p>
            <a href="{% url 'checkout' %}" class="btn btn-lg">Join Now</a>
        </div> 
        <div class="col-5 my-auto"></div>   
    </div>
</div>

{% endblock %}