[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
pillow = "*"
django-crispy-forms = "*"
stripe = "*"
python-dotenv = "*"
python-decouple = "==3.6"
django-countries = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.12"
