{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block extra_title%} Checkout {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <a href="{% url 'plans' %}" class="btn btn-outline-black rounded-0 mt-5 mb-2">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="font-weight-bold">Back to plans</span>
        </a>
        <hr class="my-0 mb-5">

        <div class="col-12">
            <form method="POST" id="payment-form" action="{% url 'checkout' %}">
                {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="card mx-5 shadow rounded" style="border-radius:50px;border:none">
                            <div class="card-body">
                                <h3 class="card-title font-weight-bold">Checkout</h3>
                                <p class="text-muted small ">Enter card details.  Your subscription will start immediately</p>
                                <div class="row">
                                    <div class="col-6 text-muted">
                                        <p class="my-0 mb-2"> Plan:</p> <!-- Plan Name -->
                                        <p class="my-0">Total:</p> <!-- Plan Price -->
                                    </div>
                                    <div class="col-6 text-right font-weight-bold">
                                        <h5 class="my-0 mb-2"> {{ form.plan_name.value }}</h5> <!-- Plan Name -->
                                        <h5 class="my-0"> £ {{ form.plan_price.value }} / {{ form.plan_duration.value }}</h5> <!-- Plan Price and duration -->
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <div id="card-element" class="mb-3">
                                        <!-- Elements will create input elements here -->
                                    </div>
                                    <!-- We'll put the error messages in this element -->
                                    <div id="card-errors" role="alert"></div>
                                    <button id="submit" type="submit" class=" btn btn-primary w-100">
                                        <span id="button-text">Subscribe</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>        
                    {% else %}
                        <label for="">
                            <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or
                            <a href="{% url 'account_login' %}" class="text-info">Login</a>
                        </label>
                    {% endif %}
            </form>
        </div>
    </div>

{% endblock %}

{% block postloadjs %} 
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}