{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block extra_title%} Checkout {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <a href="{% url 'plans' %}" class="btn btn-outline-black rounded-0 mt-5 mb-2">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="font-weight-bold">Back to plans</span>
        </a>
        <hr class="my-0 mb-5">
        <div class="col-12">
            <form method="POST" id="payment-form" action="{% url 'checkout' %}">
                {% csrf_token %}
                    <div class="card mx-5 shadow rounded" style="border-radius:50px;border:none">
                        <div class="card-body">
                            <h3 class="card-title font-weight-bold">Checkout</h3>
                            <p class="text-muted small ">Enter card details.  Your subscription will start immediately</p>
                            <div class="row">
                                <div class="col-6 text-muted">
                                    <p class="my-0 mb-2"> Plan:</p> <!-- Plan Name -->
                                    <p class="my-0">Total:</p> <!-- Plan Price -->
                                </div>
                                    <div class="col-6 text-right font-weight-bold">
                                        <h5 class="my-0 mb-2"> {{ form.initial.plan_name }}</h5> <!-- Plan Name -->
                                        <h5 class="my-0"> £ {{ form.initial.plan_price }} /{{ form.initial.plan_duration }}</h5> <!-- Plan Price and duration -->
                                        <input type="hidden" name="plan_name" value="{{ form.initial.plan_name }}">
                                        <input type="hidden" name="plan_price" value="{{ form.initial.plan_price }}">
                                        <input type="hidden" name="plan_duration" value="{{ form.initial.plan_duration }}">                                    
                                    </div>
                                </div>
                                <br>
                                <div>
                                    {% crispy form %}
                                    <div id="card-element" class="mb-3">
                                        <!-- Elements will create input elements here -->
                                    </div>
                                    <!-- We'll put the error messages in this element -->
                                    <div class="text-danger" id="card-errors" role="alert"></div>
                                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                                    <button id="submit-button" class=" btn btn-primary w-100">
                                        <div class="spinner-border  spinner-border-sm text-light hidden" id="spinner" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <span id="button-text">Subscribe</span>
                                    </button>
                                </div>
                            </div>        
            </form>
        </div>
        <div class="row"></div>
    </div>

{% endblock %}

{% block postloadjs %} 
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/checkout/js/stripe_elements.js' %}"></script>
{% endblock %}