{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block extra_title%} Checkout {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Checkout</h2> <!-- Title -->
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <p class="text-muted">Order Summary</p> <!-- Order Summary -->
                <div class="row">
                    <div class="col-12">
                        <h3 class="my-0"><strong>{{ form.plan_name.value }}</strong></h3> <!-- Plan Name -->
                        <p class="my-0 small" style="font-weight: 700;">Duration: {{ form.plan_duration.value }}</p> <!-- Plan Duration -->
                        <p class="my-0 text-muted" style="font-weight: 700;">Price: {{ form.plan_price.value }}</p> <!-- Plan Price -->
                    </div>
                </div>
                <hr class="my-0">
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to complete your order</p> <!-- Form Instructions -->
                <form method="POST" id="payment-form" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <div class="form-check-label">
                            {% if user.is_authenticated %}
                               <h4 class="my-0 text-muted" style="font-weight:lighter;">User: {{ request.user.username }}</h4>
                            {% else %}
                                <label for="">
                                    <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or
                                    <a href="{% url 'account_login' %}" class="text-info">Login</a>
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>
                    <div class="submit-button text-right mt-5 mb-2">                    
                        <a href="{% url 'plans' %}" class="btn btn-outline-black rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Back to plans</span>
                        </a>
                        <button type="submit" id="submit-button" class="btn btn-black rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ form.plan_price.value }}</strong></span> <!-- Payment Information -->
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}