{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_title%}Staff Management{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6 mb-2">
            <h2>Staff Management</h2>
            <h5 class="text-muted">Add Trainer</h5>
            <hr>
            <form method="POST" action="{% url 'add_trainer' %}" class="form mb-2">
                {% csrf_token %}
                {% crispy form %}
                <div class="text-right">
                    <a href="{% url 'trainers' %}" class="btn btn-outline-dark">Cancel</a>
                    <button type="submit" class="btn btn-dark">Add Trainer</button>
                </div>
            </form>  
        </div>
    </div>
    
</div>
{% endblock %}