html {
    height: 100%;
}

/* Ensure dropdown stays within screen limits */
.navbar .dropdown-menu {
    right: 0;
    left: auto;
}
  
/* Adjust button spacing */
.navbar .nav-link.main-logo-link {
    margin-right: auto;
}

.home-page {
    background-image: url("static/media/background.jpg");
    background-size: cover;
    color: white;
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 1.5px;
}

.home-page button{
    border: 1px solid rgb(250, 179, 46);
    background-color: rgb(250, 179, 46);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.home-page button:hover{
    background-color: #b98420;
    border: 1px solid #b98420;
}

.home-page{
    padding: 200px 150px;
}

.center-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.plans .price{
    font-size: 20px;
    font-weight: 900;
}

.plans .description li{
    border: none;
    font-weight: 500;
}

h2 small{
    font-weight: 700;
    font-size: 12px;
}
