.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 1rem);
    margin: 0.5rem;
    overflow: hidden;
}

.card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.card-header h3{
    font-size: 1.5rem;
}

.card-body {
    padding: 1rem;
}

.card-body p {
    margin: 0.5rem 0;
}

.text-border {
    display: inline-block;
    padding: 0 5px;
    font-size: 0.8rem;
    line-height: 1.5;
  }

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}