<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto fs-1 navbar-light">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="trainers-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Trainers
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="programs-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Programs
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="pp-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Plans & Pricing
            </a>
        </li>
    </ul>
</div>