<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto fs-1">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="headphones-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Headphones
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="speakers-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Speakers
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="earphones-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Earphones
            </a>
        </li>
    </ul>
</div>