{% extends "base.html" %} {% load static %} {% load templatestags %}

{% block extra_title%} Thank you! {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.html' %}">
{% endblock %}

{% block content %}
    <div class="container success">
        <h1>Thank you for your purchase!</h1>
        <div class="row">
            <div class="col-12">
                <h2>Receipt:</h2>
                <ul>
                    {% for payment in payment_history %}
                        <li>{{ payment.plan_name }} - ${{ payment.plan_price }} - {{ payment.payment_date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
{% endblock %}