{% extends "base.html" %} {% load static %} {% load templatestags %}

{% block extra_title%} Plans & Pricing {% endblock %}

{% block content %}

<div class="container mt-3">
    <h2>Plans <small>40% off with year plans</small></h2>
    <div class="row">
        {% for plan in plans %}
        <div class="col-md-6">
            <div class="card plans">
                <div class="card-body">
                    <h3 class="card-title">{{ plan.name }} </h3>
                    <ul class="list-group card-text description">
                        {% for item in plan.description|split_by_newline %}
                            <li class="list-group-item">{{ item }}</li>
                        {% endfor %}
                    </ul>
                    <div class="row text-center mt-5 mb-5">
                        <div class="col-6">
                            <h4 class="card-text monthly-price" id="monthly-price{{ plan.id }}" data-monthly-price="{{ plan.monthly_price }}">Monthly Price: <br> ${{ plan.monthly_price }}</h4>
                        </div>
                        <div class="col-6">
                            <h4 class="card-text yearly-price" id="yearly-price{{ plan.id }}" data-yearly-price="{{ plan.yearly_price }}">Yearly Price: <br> ${{ plan.yearly_price }}</h4>
                        </div>
                    </div>
                    <a href="{% url 'checkout' %}?plan_id={{ plan.id }}&plan_name={{ plan.name }}&plan_price={{ plan.monthly_price }}&plan_duration=monthly" class="btn btn-dark">Select Monthly Plan</a>
                    <a href="{% url 'checkout' %}?plan_id={{ plan.id }}&plan_name={{ plan.name }}&plan_price={{ plan.yearly_price }}&plan_duration=yearly" class="btn btn-dark mt-2">Select Yearly Plan</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function updatePrice(planId) {
        let durationSelect = document.getElementById('duration' + planId);
        let monthlyPriceDisplay = document.getElementById('monthly-price' + planId);
        let yearlyPriceDisplay = document.getElementById('yearly-price' + planId);
        let monthlyPrice = parseFloat(monthlyPriceDisplay.dataset.monthlyPrice);
        let yearlyPrice = parseFloat(yearlyPriceDisplay.dataset.yearlyPrice);

        if (durationSelect.value === 'yearly') {
            monthlyPriceDisplay.style.display = 'none';
            yearlyPriceDisplay.style.display = 'block';
        } else {
            monthlyPriceDisplay.style.display = 'block';
            yearlyPriceDisplay.style.display = 'none';
        }
    }
</script>

{% endblock %}